@import "/Colours.css";

/* Style the navbar */
#navbar {
  display: block;
  overflow: hidden;
  overflow-x: hidden;
  background-color: #000000de;
  position: fixed;
  top : -10px;
  width: 100%;
  z-index: 10;
}

.nav_item {
  display: inline;
  padding: 0px 10px;
}

#navgroup {
  display: block;
  text-align: center;
  margin: auto auto;
  width: 500px;
}
/* Navbar links */
#navbar a {
  display: inline;
  color: #FFF;
  text-align: center;
  padding: 2px;
  margin: 0%;
  font-family: "Inter";
  text-decoration: none;
  font-weight: 400;
  font-size: 0.5em;
}

#navbar a :hover {
  color: #ffffff;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 20px;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 32px;
}
