@import "/Colours.css";

body {
  background: var(--c_teritary);
}

.player {
  position: relative;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
  width: 80%;

}

.main {
  max-width: 1080px;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  margin-top: 80px;
  gap: 60px;
  position: relative;
  justify-content: center;
  display: flex;
  width: 100%;
  filter: drop-shadow(0px 5px 10px rgb(0, 0, 0));
}

.textBox {
  display: inline;
  background-color: var(--c_primary);
  text-align: left;
  width: 100%;
  padding-left: 0px;
  border-radius: 10px;
  padding-right: 10px;
}

.textBox h2 {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1em;
}

.textBox p {
  margin-top: -20px;
  margin-left: 20px;
  font-size: 1.2em;
}

#cont {
  height: 100%;
}

#col11 {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  flex: 50%;
}

.feature-card {
  display: block;
  width: fit-content;
  height: fit-content;
  box-sizing: block;
  width: 80%;
}

.featureTile {
  width: 20vw;
  padding : .75em;
  padding-right: 2em;
  margin: 0px;
  background-color: var(--c_primary);
  border-radius: 5px;
  overflow: hidden;
  text-align: left;
  filter: drop-shadow(0px 4px 0px var(--c_secondary));
}


.featureTile h2 {
  margin: 0px;
  letter-spacing: -1px;
  line-height: 20px;
  font-weight: 400;
  font-size: 1.5em;
}

.featureTile p {
  margin-top: 5px;
  font-size: 1em;
}

.featureTile .player {
  display: block;
  margin: auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 0px;
  aspect-ratio: 16/9;
  z-index: 1;
  align-self: flex-end;
}

.gallery {
  margin-top: 100px;
  background-color: var(--c_primary);
  min-height: 1000px;
  border-radius: 20px;
  filter: drop-shadow(0px 5px 10px rgb(0, 0, 0));
  padding: 60px;
}

.galleryFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  margin: -30px;
  padding: 20px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(23, 13, 23, 1);
}

.galleryFlex img {
  height: 20vw;
  object-fit: contain;
  flex-shrink: 1;
  border-radius: 10px;
}